@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
:root {
  --body-color: #6c757d;
  --headers-color: black;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: var(--body-color);
  /* padding-top: 6rem; */
}
#root {
}

div[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
.hyperLink {
  color: darkorange;
  display: inline-block;
}
.hyperLink:hover {
  cursor: pointer;
  color: coral;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: var(--headers-color);
}
h1 {
  font-size: 5rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7rem;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.push {
  height: 50vh;
}
/* home page */
#home-page {
  height: 100%;
}
/* Hero */
.hero {
  background-image: linear-gradient(
      356deg,
      rgba(21, 24, 24, 0.5) 17%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    url("./images/girl-flower-mood-person-wallpaper.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.hero__heading {
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 5px #51515167;
}
.hero__button {
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .hero {
    height: 900px;
  }
  .hero__button {
    font-size: 3rem;
    border-radius: 30px;
    padding: 1rem 2rem;
  }
  .hero__heading {
    font-size: 5rem;
  }
}
/* Cards */
.cards__container {
  position: relative;
}

.card--overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  background: linear-gradient(0deg, white 4%, transparent 100%);
}
.cards--animation {
  animation: cardAppear 1s;
  animation-timing-function: ease-in-out;
}
.card {
  flex-direction: column;
  border-left: none;
  border-right: none;
  /* border-bottom: none; */
  border-radius: 0;
}
.card__btn {
  position: relative;
  z-index: 10;
}
@keyframes cardAppear {
  0% {
    scale: 0.1;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
.card__heading {
  font-size: 3rem;
}
.card__close-btn {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
.card__line,
.card__details,
.card__hr,
.card__reserve-btn {
  display: none;
}
.card--expanded {
  z-index: 0;
  max-width: 100%;
  background-color: rgb(14, 0, 22);
  color: white;
  position: relative;
  transition: all 0.2s, transform 0s;
}

.card--expanded .card__line,
.card--expanded .card__details,
.card--expanded .card__close-btn,
.card--expanded .card__hr,
.card--expanded .card__reserve-btn {
  display: inline-block;
}
.card--expanded .card__title,
.card__details-header {
  color: white;
}
.card__reserve-btn {
  font-size: 1.2rem;
}
.card__details {
  margin-top: 1.5rem;
}
.card__details-header {
  color: #b4b4b4;
  text-align: left;
}
.card__line {
  margin-left: 2rem;
}

.card__image {
  cursor: pointer;
  max-width: 120px;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 70, 1) 100%
  );
  padding: 0.4rem;
}
.card--expanded .card__image {
  background: none;
}
.card--expanded .card__line {
  display: none;
}
@media screen and (min-width: 768px) {
  .card__heading {
    font-size: 6rem;
  }
  .card__image {
    max-width: 150px;
  }
  .card {
    border: 1px solid rgba(0, 0, 0, 0.175);
  }
}
@media screen and (min-width: 1024px) {
  .card {
    flex-direction: row;
  }
  .card--expanded .card__line {
    display: inline-block;
  }
  .card--expanded {
    z-index: 2;
    height: 100%;
    width: 200%;
    max-width: 100vw;
  }
  .card__reserve-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  .card__details {
    text-align: left;
    margin-left: 2rem;
  }
  .grid .card:nth-of-type(3n) .card__details {
    order: -2;
  }

  .grid .card:nth-of-type(3n) .card__line {
    order: -1;
  }
  .grid .card--expanded:nth-of-type(3n) {
    transform: translateX(-50%);
  }

  .grid .card:nth-of-type(3n) .card__reserve-btn {
    left: 20px;
    bottom: 20px;
    right: auto;
  }
}
/* Reserve Box */
.reserve-box {
  margin-top: 2rem;
}
/* Grids */
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid--1x3 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* inputs */

@media screen and (min-width: 1024px) {
  .form-label {
    font-size: 2rem;
  }
  .form-control {
    font-size: 1.5rem;
  }
  .form-select {
    font-size: 1.5rem;
  }
  .rmdp-input {
    font-size: 1.5rem;
    padding: 20px 10px;
  }
  .form-check {
    font-size: 1.5rem;
  }
}
/* loading spinner */
.loading-spinner {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid rgb(0, 0, 0);
  border-top: 5px solid rgba(255, 255, 255, 0.376);
  border-radius: 50%;
  animation: spinner 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* login Form */
.login-page {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-form {
  padding: 5rem 3rem;
  border-radius: 40px;
  border: 1px solid #dadce0;
  max-width: 700px;
  text-align: center;
}
.login-inputs {
  margin: 2rem 0;
}
/* footer */
.footer {
  background-color: #232323;

  width: 100%;
}

.footer .list {
  margin-top: 0;
  margin-bottom: 2rem;
}
.footer .collapsible__heading {
  text-transform: uppercase;
  font-weight: 600;
}
.footer__item {
  line-height: 1.25;
  margin: 1rem 0;
}
.footer__item > a {
  color: var(--color-body);
}
.footer__section {
  border-bottom: 1px solid #393939;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.footer__brand {
  margin-right: 3rem;
  order: 1;
  text-align: center;
  align-self: center;
}
.footer__brand img {
  width: 100%;
  max-width: 230px;
}
@media screen and (min-width: 768px) {
  .footer__item a {
    font-size: 1rem;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
  .footer .container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer__brand {
    align-self: start;
    order: 0;
  }
  .footer__section {
    border: 0;
  }

  .footer .collapsible__heading {
    font-size: 1.2rem;
  }
  .footer .collapsible__chevron {
    display: none;
  }
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
}
/* !!!Blocks!!! */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}
.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.block--skewed-left {
  clip-path: polygon(0% 0%, 0% 100%, 100% 90%, 100% 0%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.block--black {
  background-color: black;
  color: #7b858b;
}
.block--black h1,
.block--black h2,
.block--black h3 {
  color: white;
}
.block__header {
  text-align: center;
  margin-bottom: 4rem;
}
.block__heading {
  margin-top: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.block--black .media__title {
  color: white;
}
/* links */
a {
  text-decoration: none;
}

/* lists */
li::marker {
  content: "";
}
ul {
  padding-left: 0;
}
/* !!!Collapsibles!!! */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
  cursor: pointer;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* !!!Icons!!!  */
.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: white;
}
.icon--secondary {
  fill: var(--color-secondary);
}
.icon-container {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #f3f9fa;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--accent {
  background-color: var(--color-accent);
}
/*verify callback */
.verify-callback {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.verify-callback__btn {
  width: auto !important;
  font-size: 1rem;
}
.verify-callback__alert {
  white-space: pre-line;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .verify-callback__btn {
    font-size: 1.5rem;
    width: 40% !important;
  }
  .verify-callback__alert {
    font-size: 2rem;
  }
}
