@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
:root {
  --body-color: #6c757d;
  --headers-color: black;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: var(--body-color);
  /* padding-top: 6rem; */
}
#root {
  height: 100vh;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
.hyperLink {
  color: darkorange;
  display: inline-block;
}
.hyperLink:hover {
  cursor: pointer;
  color: coral;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: var(--headers-color);
}
h1 {
  font-size: 5rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7rem;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* home page */
#homePage {
  height: 100%;
}
/* Hero */
.hero {
  background-image: linear-gradient(
      356deg,
      rgba(21, 24, 24, 0.5) 17%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    url("./images/girl-flower-mood-person-wallpaper.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.hero__heading {
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 5px #51515167;
}
.hero__button {
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .hero {
    height: 900px;
  }
  .hero__button {
    font-size: 3rem;
    border-radius: 30px;
    padding: 1rem 2rem;
  }
  .hero__heading {
    font-size: 5rem;
  }
}
/* Cards */
.cards--animation {
  animation: cardAppear 1s;
  animation-timing-function: ease-in-out;
}
.card {
  flex-direction: column;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

@keyframes cardAppear {
  0% {
    scale: 0.1;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
.card__close-btn {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
.card__line,
.card__details,
.card__hr,
.card__reserve-btn {
  display: none;
}
.card--expanded {
  z-index: 0;
  max-width: 100%;
  background-color: rgb(14, 0, 22);
  color: white;
  position: relative;
  transition: all 0.2s, transform 0s;
}

.card--expanded .card__line,
.card--expanded .card__details,
.card--expanded .card__close-btn,
.card--expanded .card__hr,
.card--expanded .card__reserve-btn {
  display: inline-block;
}
.card--expanded .card__title,
.card__details-header {
  color: white;
}
.card__reserve-btn {
  font-size: 1.8rem;
}
.card__details {
  margin-top: 1.5rem;
}
.card__details-header {
  color: #b4b4b4;
}
.card__line {
  margin-left: 2rem;
}

.card__image {
  cursor: pointer;
  width: 150px;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 70, 1) 100%
  );
  padding: 0.5rem;
}
.card--expanded .card__image {
  background: none;
}
.card--expanded .card__line {
  display: none;
}
@media screen and (min-width: 1024px) {
  .card {
    flex-direction: row;
  }
  .card--expanded .card__line {
    display: inline-block;
  }
  .card--expanded {
    z-index: 2;
    height: 100%;
    width: 200%;
    max-width: 100vw;
  }
  .card__reserve-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  .card__details {
    text-align: left;
    margin-left: 2rem;
  }
  .grid .card:nth-of-type(3n) .card__details {
    order: -2;
  }

  .grid .card:nth-of-type(3n) .card__line {
    order: -1;
  }
  .grid .card--expanded:nth-of-type(3n) {
    transform: translateX(-50%);
  }

  .grid .card:nth-of-type(3n) .card__reserve-btn {
    left: 20px;
    bottom: 20px;
    right: auto;
  }
}
/* Reserve Box */
.reserve-box {
  margin-top: 2rem;
}
/* Grids */
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* inputs */

@media screen and (min-width: 1024px) {
  .form-label {
    font-size: 2rem;
  }
  .form-control {
    font-size: 1.5rem;
  }
  .form-select {
    font-size: 1.5rem;
  }
  .rmdp-input {
    font-size: 1.5rem;
    padding: 20px 10px;
  }
  .form-check {
    font-size: 1.5rem;
  }
}
/* loading spinner */
.loading-spinner {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid rgb(0, 0, 0);
  border-top: 5px solid rgba(255, 255, 255, 0.376);
  border-radius: 50%;
  animation: spinner 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* login Form */
.login-page {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-form {
  padding: 5rem 3rem;
  border-radius: 40px;
  border: 1px solid #dadce0;
  max-width: 700px;
  text-align: center;
}
.login-inputs {
  margin: 2rem 0;
}
